.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 128rpx;
  height: 128rpx;
  margin: 20rpx;
  margin-top:128rpx; 
  border-radius: 50%;
}
 
.userinfo-nickname {
  color: #00FFF;
}
.usermotto {
  margin-top: 200rpx;
} 
