.number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5vh;
    margin-left: 90rpx;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 170rpx;
    margin-top:5vh;
}
.section {
    display: flex;
    flex-direction: row;
    margin-left:170rpx;
    margin-top:5vh;
}

.submit {
    margin-top:30vh;
}