.homeworkID {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 170rpx;
    margin-top: 10vh;
}

.number {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3vh;
    margin-left: 170rpx;
}

.submit {
    margin-top: 30vh;
}